body {
  background:#F5F3F5;
  margin:0;
  padding:0;
  font-family:'Merriweather', serif;
  color:#333;
  text-align:center;
}

.navbar {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 4%;
  background:white;
  border-bottom:1px solid #d4d4d4;
}

.logo img {
  height:58px;
  width:auto;
}

.navbar ul {
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  gap:50px;
}

.navbar a {
  text-decoration:none;
  color:black;
  font-family:"Lucida Console", monospace;
  font-weight:600;
  font-size:1.4rem;
}

h2 {
  font-family:'Birthstone Bounce', cursive;
  font-size:3rem;
  color:#B21E4B;
  margin:40px 0 20px;
}

.quote-box {
  background:#fff;
  border:2px solid #B21E4B;
  border-radius:40px;
  padding:25px 20px;
  max-width:600px;
  margin:20px auto;
  font-size:20px;
  font-style:italic;
  color:#602702;
}

.thankyou {
  margin-top:30px;
  font-size:18px;
  font-weight:bold;
}

.feedback-btn {
  display:inline-block;
  margin-top:40px;
  background:#B21E4B;
  color:white;
  padding:14px 35px;
  border-radius:12px;
  text-decoration:none;
  font-weight:bold;
  font-size:18px;
  transition:0.3s;
}

.feedback-btn:hover {
  background:#8f163b;
  transform:scale(1.05);
}

footer {
  margin:60px 0;
  font-size:1rem;
  font-style:italic;
}
