body {
  background-color: #F5F3F5;
  color: black;
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 70px;
  width: 270px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  font-size: 1.7rem;
  color: black;
  font-family: "Lucida Console", monospace;
  font-weight: 600;
}

.cover img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

h1 {
  text-align: center;
  font-family: 'Birthstone Bounce', cursive;
  font-size: 4rem;
  margin: 25px 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: center;
  margin: 0 40px 25px;
}

.kakanin-list {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}

.kakanin {
  background: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 22px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.kakanin h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.kakanin p {
  text-align: left;
  font-size: 1.1rem;
  margin: 0;
}

footer {
  text-align: center;
  margin: 30px 0;
  font-size: 1rem;
  font-style: italic;
}
