body {
 background:#F5F3F5;
 margin:0;
 padding:0;
 font-family:'Merriweather', serif;
 color:black
}


.navbar{
 display:flex;
 justify-content:space-between;  
 align-items:center;
 padding:10px 4%;
 background:white;
 border-bottom:1px solid #d4d4d4;
}

.logo img{
  width:auto;
  height:58px
}


.navbar ul{
 list-style:none;
 padding:0;
 margin:0;
 display:flex;
 gap:3%;
}


.navbar a{
 text-decoration:none;
 color:black;
 font-family:"Lucida Console", monospace;
 font-weight:600;
 font-size:1.4rem
}


.cover img{
 height:210px;
 width:100%;
 object-fit:cover;
 display:block
}


h1{
 font-family:'Birthstone Bounce', cursive;
 text-align:center;
 font-size:3.5rem;
 margin:3% 0 1%
}


p{
 margin:0 5% 3%;
 text-align:center;
 font-size:1.1rem;
 line-height:1.6
}


.kakanin-list{
 width:90%;
 max-width:850px;
 margin:3% auto
}


.kakanin{
 background:white;
 border:1px solid rgba(0,0,0,.08);
 padding:15px 18px;
 margin-bottom:2%;
 border-radius:12px
}

.kakanin h2{
 font-weight:bold;
 font-size:1.35rem;
 margin:0 0 1%;
 color:black
}

.kakanin p{
 margin:0;
 font-size:1rem;
 line-height:1.55;
 color:#333;
 text-align:left
}


footer{
 font-size:.95rem;
 text-align:center;
 font-style:italic;
 margin:4% 5%
}




.navbar a{
  font-size:1.2rem
}

.cover img{
 height:180px
}

p{
 margin:0 6% 4%
}

h1{
 font-size:3rem;
 margin:4% 0 2%
}

.navbar{
 flex-direction:column;
 padding:8px 3%
}

.navbar ul{
 gap:5%
}

.navbar a{
 font-size:1rem
}

.cover img{
 height:150px
}

h1{
 margin:5% 0 2%;
 font-size:2.4rem
}

p{
 font-size:1rem;
 margin:0 8% 4%
}

.kakanin{
 padding:12px
}

.kakanin h2{
 font-size:1.15rem
}

.kakanin p{
 font-size:.95rem
}

footer{
 margin:6% 8%
}

